/* Catppuccin Mocha Theme for Waybar */
/* Based on Catppuccin Mocha color palette */

@define-color bg #1e1e2e;
@define-color bg_dark #181825;
@define-color bg_alt #313244;
@define-color bg_highlight #45475a;

@define-color fg #cdd6f4;
@define-color fg_alt #bac2de;
@define-color fg_dark #a6adc8;

@define-color blue #89b4fa;
@define-color cyan #89dceb;
@define-color green #a6e3a1;
@define-color red #f38ba8;
@define-color yellow #f9e2af;
@define-color magenta #cba6f7;
@define-color orange #fab387;
@define-color purple #f5c2e7;
@define-color gray #6c7086;
@define-color black #11111b;

/* Semantic colors */
@define-color accent @magenta;
@define-color warning @yellow;
@define-color critical @red;
@define-color success @green;
@define-color info @blue;
