/* Gruvbox Dark Theme for Waybar */
/* Based on Gruvbox Dark Hard color palette */

@define-color bg #1d2021;
@define-color bg_dark #1d2021;
@define-color bg_alt #282828;
@define-color bg_highlight #3c3836;

@define-color fg #ebdbb2;
@define-color fg_alt #d5c4a1;
@define-color fg_dark #bdae93;

@define-color blue #83a598;
@define-color cyan #8ec07c;
@define-color green #b8bb26;
@define-color red #fb4934;
@define-color yellow #fabd2f;
@define-color magenta #d3869b;
@define-color orange #fe8019;
@define-color purple #d3869b;
@define-color gray #928374;
@define-color black #1d2021;

/* Semantic colors */
@define-color accent @orange;
@define-color warning @yellow;
@define-color critical @red;
@define-color success @green;
@define-color info @blue;
